arina-maplab/src/main/resources/MapForce.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="children">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="component" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="component">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="properties" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="sources" minOccurs="0"/>
				<xs:element ref="targets" minOccurs="0"/>
				<xs:element ref="view" minOccurs="0"/>
				<xs:element ref="data" minOccurs="0"/>
				<xs:element ref="implementations" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="library" type="xs:string" use="optional"/>
			<xs:attribute name="uid" type="xs:string" use="optional"/>
			<xs:attribute name="kind" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="14"/>
						<xs:enumeration value="16"/>
						<xs:enumeration value="18"/>
						<xs:enumeration value="19"/>
						<xs:enumeration value="23"/>
						<xs:enumeration value="30"/>
						<xs:enumeration value="31"/>
						<xs:enumeration value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="growable" type="xs:int" use="optional"/>
			<xs:attribute name="visible" type="xs:int" use="optional"/>
			<xs:attribute name="growablebasename" type="xs:string" use="optional"/>
			<xs:attribute name="blackbox" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="connections">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="edge" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="data" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="type" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="from" type="xs:string"/>
						<xs:attribute name="to" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="constant">
		<xs:complexType>
			<xs:attribute name="value" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="datatype" type="datatype" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="root" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="document" minOccurs="0"/>
				<xs:element ref="constant" minOccurs="0"/>
				<xs:element ref="input" minOccurs="0"/>
				<xs:element ref="output" minOccurs="0"/>
				<xs:element ref="wsdl" minOccurs="0"/>
				<xs:element ref="parameter" minOccurs="0"/>
				<xs:element ref="exception" minOccurs="0"/>
				<xs:element ref="valuemap" minOccurs="0"/>
				<xs:element ref="json" minOccurs="0"/>
				<xs:element ref="sort" minOccurs="0"/>
				<xs:element ref="text" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="datapoint">
		<xs:complexType>
			<xs:attribute name="pos" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="key" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="datatype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="anySimpleType"/>
			<xs:enumeration value="string"/>
			<xs:enumeration value="boolean"/>
			<xs:enumeration value="float"/>
			<xs:enumeration value="decimal"/>
			<xs:enumeration value="integer"/>
			<xs:enumeration value="long"/>
			<xs:enumeration value="unsignedInt"/>
			<xs:enumeration value="int"/>
			<xs:enumeration value="unsignedShort"/>
			<xs:enumeration value="short"/>
			<xs:enumeration value="unsignedByte"/>
			<xs:enumeration value="byte"/>
			<xs:enumeration value="double"/>
			<xs:enumeration value="dateTime"/>
			<xs:enumeration value="date"/>
			<xs:enumeration value="time"/>
			<xs:enumeration value="duration"/>
			<xs:enumeration value="base64Binary"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="description">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="short" type="xs:string" minOccurs="0"/>
				<xs:element name="long" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="document">
		<xs:complexType>
			<xs:attribute name="schema" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="inputinstance" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="outputinstance" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="instanceroot" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="userdefinedschemalocation" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="edge">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dataconnection">
								<xs:complexType>
									<xs:attribute name="type" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="vertexkey" type="xs:int" use="optional"/>
			<xs:attribute name="edgekey" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="edges">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="edge" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ranges" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="range" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="id" type="xs:int"/>
									<xs:attribute name="start" type="xs:int"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="typeselections" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="type">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="entry"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="inputnodefunctions" minOccurs="0"/>
				<xs:element ref="outputnodefunctions" minOccurs="0"/>
				<xs:element ref="entry" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="ns" type="xs:anyURI"/>
			<xs:attribute name="expanded" type="xs:int"/>
			<xs:attribute name="casttotargettypemode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="cast-in-subtree"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="inpkey" type="xs:int"/>
			<xs:attribute name="outkey" type="xs:int"/>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="attribute"/>
						<xs:enumeration value="json-property"/>
						<xs:enumeration value="json-item"/>
						<xs:enumeration value="table"/>
						<xs:enumeration value="xml-type"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="componentid" type="xs:int"/>
			<xs:attribute name="clone" type="xs:int" use="optional"/>
			<xs:attribute name="displayselectionmode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="selection"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="datatype" type="datatype"/>
			<xs:attribute name="annotation" type="xs:string"/>
			<xs:attribute name="show-schema-children" type="xs:int"/>
			<xs:attribute name="use-generic-elements" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="exception"/>
	<xs:complexType name="field">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="type" type="datatype" use="required"/>
	</xs:complexType>
	<xs:element name="graph">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="edges" minOccurs="0"/>
				<xs:element ref="vertices" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="directed" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="namespaces"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="implementation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="function">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="language" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="implementations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="implementation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="input">
		<xs:complexType>
			<xs:attribute name="datatype" type="datatype"/>
			<xs:attribute name="previewvalue" type="xs:string"/>
			<xs:attribute name="usepreviewvalue" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="inputnodefunctions" type="nodefunctions"/>
	<xs:element name="json">
		<xs:complexType>
			<xs:attribute name="schema" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="inputinstance" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="outputinstance" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="mapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resources" minOccurs="0"/>
				<xs:element name="component" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="properties">
								<xs:complexType>
									<xs:attribute name="SelectedLanguage" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="builtin"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="MakePathsAbsoluteOnGeneration" type="xs:int"/>
									<xs:attribute name="XSLTTargetEncoding" type="xs:string"/>
									<xs:attribute name="ShowSchemaTypes" type="xs:int"/>
									<xs:attribute name="ShowAnnotations" type="xs:int"/>
									<xs:attribute name="ShowLibraryNameInHeader" type="xs:int"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="description" type="xs:string" minOccurs="0"/>
							<xs:element ref="structure"/>
							<xs:element ref="connections" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="blackbox" type="xs:int" use="optional"/>
						<xs:attribute name="uid" type="xs:int" use="optional"/>
						<xs:attribute name="editable" type="xs:int" use="required"/>
						<xs:attribute name="library" type="xs:string"/>
						<xs:attribute name="inline" type="xs:int" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:int" use="required"/>
			<xs:attribute name="library" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="namespace">
		<xs:complexType>
			<xs:attribute name="uid">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="namespaces">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="namespace" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="nodefunctions">
		<xs:sequence>
			<xs:element name="rule" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="default" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="value" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="function" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="name" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="filter" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="datatype" type="datatype"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="applyto">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="self"/>
								<xs:enumeration value="descendants"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="inherit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="block"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="output">
		<xs:complexType>
			<xs:attribute name="datatype" type="datatype"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="outputnodefunctions" type="nodefunctions"/>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="root" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="usageKind">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="output"/>
						<xs:enumeration value="stringparse"/>
						<xs:enumeration value="stringserialize"/>
						<xs:enumeration value="input"/>
						<xs:enumeration value="variable"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="optional" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="properties">
		<xs:complexType>
			<xs:attribute name="XSLTTargetEncoding" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="XSLTDefaultOutput" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SaveRelativePaths" type="xs:int"/>
			<xs:attribute name="DynamicFilenames" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header" minOccurs="0"/>
				<xs:element ref="entry" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="scrollposition" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rootindex" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sort">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="collation">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="language" type="xs:string"/>
								<xs:attribute name="country" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="key" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="index" type="xs:int"/>
						<xs:attribute name="direction" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="descending"/>
									<xs:enumeration value="ascending"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sources">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="datapoint" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="structure">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="children"/>
				<xs:element ref="graph" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="targets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="datapoint" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="text">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="settings">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="names">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="field0" type="field" minOccurs="0"/>
										<xs:element name="field1" type="field" minOccurs="0"/>
										<xs:element name="field2" type="field" minOccurs="0"/>
										<xs:element name="field3" type="field" minOccurs="0"/>
										<xs:element name="field4" type="field" minOccurs="0"/>
										<xs:element name="field5" type="field" minOccurs="0"/>
										<xs:element name="field6" type="field" minOccurs="0"/>
										<xs:element name="field7" type="field" minOccurs="0"/>
										<xs:element name="field8" type="field" minOccurs="0"/>
										<xs:element name="field9" type="field" minOccurs="0"/>
										<xs:element name="field10" type="field" minOccurs="0"/>
										<xs:element name="field11" type="field" minOccurs="0"/>
										<xs:element name="field12" type="field" minOccurs="0"/>
										<xs:element name="field13" type="field" minOccurs="0"/>
										<xs:element name="field14" type="field" minOccurs="0"/>
										<xs:element name="field15" type="field" minOccurs="0"/>
										<xs:element name="field16" type="field" minOccurs="0"/>
										<xs:element name="field17" type="field" minOccurs="0"/>
										<xs:element name="field18" type="field" minOccurs="0"/>
										<xs:element name="field19" type="field" minOccurs="0"/>
										<xs:element name="field20" type="field" minOccurs="0"/>
										<xs:element name="field21" type="field" minOccurs="0"/>
										<xs:element name="field22" type="field" minOccurs="0"/>
										<xs:element name="field23" type="field" minOccurs="0"/>
										<xs:element name="field24" type="field" minOccurs="0"/>
										<xs:element name="field25" type="field" minOccurs="0"/>
										<xs:element name="field26" type="field" minOccurs="0"/>
										<xs:element name="field27" type="field" minOccurs="0"/>
										<xs:element name="field28" type="field" minOccurs="0"/>
										<xs:element name="field29" type="field" minOccurs="0"/>
										<xs:element name="field30" type="field" minOccurs="0"/>
										<xs:element name="field31" type="field" minOccurs="0"/>
										<xs:element name="field32" type="field" minOccurs="0"/>
										<xs:element name="field33" type="field" minOccurs="0"/>
										<xs:element name="field34" type="field" minOccurs="0"/>
										<xs:element name="field35" type="field" minOccurs="0"/>
										<xs:element name="field36" type="field" minOccurs="0"/>
										<xs:element name="field37" type="field" minOccurs="0"/>
										<xs:element name="field38" type="field" minOccurs="0"/>
										<xs:element name="field39" type="field" minOccurs="0"/>
										<xs:element name="field40" type="field" minOccurs="0"/>
										<xs:element name="field41" type="field" minOccurs="0"/>
										<xs:element name="field42" type="field" minOccurs="0"/>
										<xs:element name="field43" type="field" minOccurs="0"/>
										<xs:element name="field44" type="field" minOccurs="0"/>
										<xs:element name="field45" type="field" minOccurs="0"/>
										<xs:element name="field46" type="field" minOccurs="0"/>
										<xs:element name="field47" type="field" minOccurs="0"/>
										<xs:element name="field48" type="field" minOccurs="0"/>
										<xs:element name="field49" type="field" minOccurs="0"/>
										<xs:element name="field50" type="field" minOccurs="0"/>
										<xs:element name="field51" type="field" minOccurs="0"/>
										<xs:element name="field52" type="field" minOccurs="0"/>
										<xs:element name="field53" type="field" minOccurs="0"/>
										<xs:element name="field54" type="field" minOccurs="0"/>
										<xs:element name="field55" type="field" minOccurs="0"/>
										<xs:element name="field56" type="field" minOccurs="0"/>
										<xs:element name="field57" type="field" minOccurs="0"/>
										<xs:element name="field58" type="field" minOccurs="0"/>
										<xs:element name="field59" type="field" minOccurs="0"/>
										<xs:element name="field60" type="field" minOccurs="0"/>
										<xs:element name="field61" type="field" minOccurs="0"/>
										<xs:element name="field62" type="field" minOccurs="0"/>
										<xs:element name="field63" type="field" minOccurs="0"/>
										<xs:element name="field64" type="field" minOccurs="0"/>
										<xs:element name="field65" type="field" minOccurs="0"/>
										<xs:element name="field66" type="field" minOccurs="0"/>
										<xs:element name="field67" type="field" minOccurs="0"/>
										<xs:element name="field68" type="field" minOccurs="0"/>
										<xs:element name="field69" type="field" minOccurs="0"/>
										<xs:element name="field70" type="field" minOccurs="0"/>
										<xs:element name="field71" type="field" minOccurs="0"/>
										<xs:element name="field72" type="field" minOccurs="0"/>
										<xs:element name="field73" type="field" minOccurs="0"/>
										<xs:element name="field74" type="field" minOccurs="0"/>
										<xs:element name="field75" type="field" minOccurs="0"/>
										<xs:element name="field76" type="field" minOccurs="0"/>
										<xs:element name="field77" type="field" minOccurs="0"/>
										<xs:element name="field78" type="field" minOccurs="0"/>
										<xs:element name="field79" type="field" minOccurs="0"/>
										<xs:element name="field80" type="field" minOccurs="0"/>
										<xs:element name="field81" type="field" minOccurs="0"/>
										<xs:element name="field82" type="field" minOccurs="0"/>
										<xs:element name="field83" type="field" minOccurs="0"/>
										<xs:element name="field84" type="field" minOccurs="0"/>
										<xs:element name="field85" type="field" minOccurs="0"/>
										<xs:element name="field86" type="field" minOccurs="0"/>
										<xs:element name="field87" type="field" minOccurs="0"/>
										<xs:element name="field88" type="field" minOccurs="0"/>
										<xs:element name="field89" type="field" minOccurs="0"/>
										<xs:element name="field90" type="field" minOccurs="0"/>
										<xs:element name="field91" type="field" minOccurs="0"/>
										<xs:element name="field92" type="field" minOccurs="0"/>
										<xs:element name="field93" type="field" minOccurs="0"/>
										<xs:element name="field94" type="field" minOccurs="0"/>
										<xs:element name="field95" type="field" minOccurs="0"/>
										<xs:element name="field96" type="field" minOccurs="0"/>
										<xs:element name="field97" type="field" minOccurs="0"/>
										<xs:element name="field98" type="field" minOccurs="0"/>
										<xs:element name="field99" type="field" minOccurs="0"/>
										<xs:element name="field100" type="field" minOccurs="0"/>
										<xs:element name="field101" type="field" minOccurs="0"/>
										<xs:element name="field102" type="field" minOccurs="0"/>
										<xs:element name="field103" type="field" minOccurs="0"/>
										<xs:element name="field104" type="field" minOccurs="0"/>
										<xs:element name="field105" type="field" minOccurs="0"/>
										<xs:element name="field106" type="field" minOccurs="0"/>
										<xs:element name="field107" type="field" minOccurs="0"/>
										<xs:element name="field108" type="field" minOccurs="0"/>
										<xs:element name="field109" type="field" minOccurs="0"/>
										<xs:element name="field110" type="field" minOccurs="0"/>
										<xs:element name="field111" type="field" minOccurs="0"/>
										<xs:element name="field112" type="field" minOccurs="0"/>
										<xs:element name="field113" type="field" minOccurs="0"/>
										<xs:element name="field114" type="field" minOccurs="0"/>
										<xs:element name="field115" type="field" minOccurs="0"/>
										<xs:element name="field116" type="field" minOccurs="0"/>
										<xs:element name="field117" type="field" minOccurs="0"/>
										<xs:element name="field118" type="field" minOccurs="0"/>
										<xs:element name="field119" type="field" minOccurs="0"/>
										<xs:element name="field120" type="field" minOccurs="0"/>
										<xs:element name="field121" type="field" minOccurs="0"/>
										<xs:element name="field122" type="field" minOccurs="0"/>
										<xs:element name="field123" type="field" minOccurs="0"/>
										<xs:element name="field124" type="field" minOccurs="0"/>
										<xs:element name="field125" type="field" minOccurs="0"/>
										<xs:element name="field126" type="field" minOccurs="0"/>
										<xs:element name="field127" type="field" minOccurs="0"/>
										<xs:element name="field128" type="field" minOccurs="0"/>
										<xs:element name="field129" type="field" minOccurs="0"/>
										<xs:element name="field130" type="field" minOccurs="0"/>
										<xs:element name="field131" type="field" minOccurs="0"/>
										<xs:element name="field132" type="field" minOccurs="0"/>
										<xs:element name="field133" type="field" minOccurs="0"/>
										<xs:element name="field134" type="field" minOccurs="0"/>
										<xs:element name="field135" type="field" minOccurs="0"/>
										<xs:element name="field136" type="field" minOccurs="0"/>
										<xs:element name="field137" type="field" minOccurs="0"/>
										<xs:element name="field138" type="field" minOccurs="0"/>
										<xs:element name="field139" type="field" minOccurs="0"/>
										<xs:element name="field140" type="field" minOccurs="0"/>
										<xs:element name="field141" type="field" minOccurs="0"/>
										<xs:element name="field142" type="field" minOccurs="0"/>
										<xs:element name="field143" type="field" minOccurs="0"/>
										<xs:element name="field144" type="field" minOccurs="0"/>
										<xs:element name="field145" type="field" minOccurs="0"/>
										<xs:element name="field146" type="field" minOccurs="0"/>
										<xs:element name="field147" type="field" minOccurs="0"/>
										<xs:element name="field148" type="field" minOccurs="0"/>
										<xs:element name="field149" type="field" minOccurs="0"/>
										<xs:element name="field150" type="field" minOccurs="0"/>
										<xs:element name="field151" type="field" minOccurs="0"/>
										<xs:element name="field152" type="field" minOccurs="0"/>
										<xs:element name="field153" type="field" minOccurs="0"/>
										<xs:element name="field154" type="field" minOccurs="0"/>
										<xs:element name="field155" type="field" minOccurs="0"/>
										<xs:element name="field156" type="field" minOccurs="0"/>
										<xs:element name="field157" type="field" minOccurs="0"/>
										<xs:element name="field158" type="field" minOccurs="0"/>
										<xs:element name="field159" type="field" minOccurs="0"/>
										<xs:element name="field160" type="field" minOccurs="0"/>
										<xs:element name="field161" type="field" minOccurs="0"/>
										<xs:element name="field162" type="field" minOccurs="0"/>
										<xs:element name="field163" type="field" minOccurs="0"/>
										<xs:element name="field164" type="field" minOccurs="0"/>
										<xs:element name="field165" type="field" minOccurs="0"/>
										<xs:element name="field166" type="field" minOccurs="0"/>
										<xs:element name="field167" type="field" minOccurs="0"/>
										<xs:element name="field168" type="field" minOccurs="0"/>
										<xs:element name="field169" type="field" minOccurs="0"/>
										<xs:element name="field170" type="field" minOccurs="0"/>
										<xs:element name="field171" type="field" minOccurs="0"/>
										<xs:element name="field172" type="field" minOccurs="0"/>
										<xs:element name="field173" type="field" minOccurs="0"/>
										<xs:element name="field174" type="field" minOccurs="0"/>
										<xs:element name="field175" type="field" minOccurs="0"/>
										<xs:element name="field176" type="field" minOccurs="0"/>
										<xs:element name="field177" type="field" minOccurs="0"/>
										<xs:element name="field178" type="field" minOccurs="0"/>
										<xs:element name="field179" type="field" minOccurs="0"/>
										<xs:element name="field180" type="field" minOccurs="0"/>
										<xs:element name="field181" type="field" minOccurs="0"/>
										<xs:element name="field182" type="field" minOccurs="0"/>
										<xs:element name="field183" type="field" minOccurs="0"/>
										<xs:element name="field184" type="field" minOccurs="0"/>
										<xs:element name="field185" type="field" minOccurs="0"/>
										<xs:element name="field186" type="field" minOccurs="0"/>
										<xs:element name="field187" type="field" minOccurs="0"/>
										<xs:element name="field188" type="field" minOccurs="0"/>
										<xs:element name="field189" type="field" minOccurs="0"/>
										<xs:element name="field190" type="field" minOccurs="0"/>
										<xs:element name="field191" type="field" minOccurs="0"/>
										<xs:element name="field192" type="field" minOccurs="0"/>
										<xs:element name="field193" type="field" minOccurs="0"/>
										<xs:element name="field194" type="field" minOccurs="0"/>
										<xs:element name="field195" type="field" minOccurs="0"/>
										<xs:element name="field196" type="field" minOccurs="0"/>
										<xs:element name="field197" type="field" minOccurs="0"/>
										<xs:element name="field198" type="field" minOccurs="0"/>
										<xs:element name="field199" type="field" minOccurs="0"/>
										<xs:element name="field200" type="field" minOccurs="0"/>
										<xs:element name="field201" type="field" minOccurs="0"/>
										<xs:element name="field202" type="field" minOccurs="0"/>
										<xs:element name="field203" type="field" minOccurs="0"/>
										<xs:element name="field204" type="field" minOccurs="0"/>
										<xs:element name="field205" type="field" minOccurs="0"/>
										<xs:element name="field206" type="field" minOccurs="0"/>
										<xs:element name="field207" type="field" minOccurs="0"/>
										<xs:element name="field208" type="field" minOccurs="0"/>
										<xs:element name="field209" type="field" minOccurs="0"/>
										<xs:element name="field210" type="field" minOccurs="0"/>
										<xs:element name="field211" type="field" minOccurs="0"/>
										<xs:element name="field212" type="field" minOccurs="0"/>
										<xs:element name="field213" type="field" minOccurs="0"/>
										<xs:element name="field214" type="field" minOccurs="0"/>
										<xs:element name="field215" type="field" minOccurs="0"/>
										<xs:element name="field216" type="field" minOccurs="0"/>
										<xs:element name="field217" type="field" minOccurs="0"/>
										<xs:element name="field218" type="field" minOccurs="0"/>
										<xs:element name="field219" type="field" minOccurs="0"/>
										<xs:element name="field220" type="field" minOccurs="0"/>
										<xs:element name="field221" type="field" minOccurs="0"/>
										<xs:element name="field222" type="field" minOccurs="0"/>
										<xs:element name="field223" type="field" minOccurs="0"/>
										<xs:element name="field224" type="field" minOccurs="0"/>
										<xs:element name="field225" type="field" minOccurs="0"/>
										<xs:element name="field226" type="field" minOccurs="0"/>
										<xs:element name="field227" type="field" minOccurs="0"/>
										<xs:element name="field228" type="field" minOccurs="0"/>
										<xs:element name="field229" type="field" minOccurs="0"/>
										<xs:element name="field230" type="field" minOccurs="0"/>
										<xs:element name="field231" type="field" minOccurs="0"/>
										<xs:element name="field232" type="field" minOccurs="0"/>
										<xs:element name="field233" type="field" minOccurs="0"/>
										<xs:element name="field234" type="field" minOccurs="0"/>
										<xs:element name="field235" type="field" minOccurs="0"/>
										<xs:element name="field236" type="field" minOccurs="0"/>
										<xs:element name="field237" type="field" minOccurs="0"/>
										<xs:element name="field238" type="field" minOccurs="0"/>
										<xs:element name="field239" type="field" minOccurs="0"/>
										<xs:element name="field240" type="field" minOccurs="0"/>
										<xs:element name="field241" type="field" minOccurs="0"/>
										<xs:element name="field242" type="field" minOccurs="0"/>
										<xs:element name="field243" type="field" minOccurs="0"/>
										<xs:element name="field244" type="field" minOccurs="0"/>
										<xs:element name="field245" type="field" minOccurs="0"/>
										<xs:element name="field246" type="field" minOccurs="0"/>
										<xs:element name="field247" type="field" minOccurs="0"/>
										<xs:element name="field248" type="field" minOccurs="0"/>
										<xs:element name="field249" type="field" minOccurs="0"/>
										<xs:element name="field250" type="field" minOccurs="0"/>
										<xs:element name="field251" type="field" minOccurs="0"/>
										<xs:element name="field252" type="field" minOccurs="0"/>
										<xs:element name="field253" type="field" minOccurs="0"/>
										<xs:element name="field254" type="field" minOccurs="0"/>
										<xs:element name="field255" type="field" minOccurs="0"/>
										<xs:element name="field256" type="field" minOccurs="0"/>
										<xs:element name="field257" type="field" minOccurs="0"/>
										<xs:element name="field258" type="field" minOccurs="0"/>
										<xs:element name="field259" type="field" minOccurs="0"/>
										<xs:element name="field260" type="field" minOccurs="0"/>
										<xs:element name="field261" type="field" minOccurs="0"/>
										<xs:element name="field262" type="field" minOccurs="0"/>
										<xs:element name="field263" type="field" minOccurs="0"/>
										<xs:element name="field264" type="field" minOccurs="0"/>
										<xs:element name="field265" type="field" minOccurs="0"/>
										<xs:element name="field266" type="field" minOccurs="0"/>
										<xs:element name="field267" type="field" minOccurs="0"/>
										<xs:element name="field268" type="field" minOccurs="0"/>
										<xs:element name="field269" type="field" minOccurs="0"/>
										<xs:element name="field270" type="field" minOccurs="0"/>
										<xs:element name="field271" type="field" minOccurs="0"/>
										<xs:element name="field272" type="field" minOccurs="0"/>
										<xs:element name="field273" type="field" minOccurs="0"/>
										<xs:element name="field274" type="field" minOccurs="0"/>
										<xs:element name="field275" type="field" minOccurs="0"/>
										<xs:element name="field276" type="field" minOccurs="0"/>
										<xs:element name="field277" type="field" minOccurs="0"/>
										<xs:element name="field278" type="field" minOccurs="0"/>
										<xs:element name="field279" type="field" minOccurs="0"/>
										<xs:element name="field280" type="field" minOccurs="0"/>
										<xs:element name="field281" type="field" minOccurs="0"/>
										<xs:element name="field282" type="field" minOccurs="0"/>
										<xs:element name="field283" type="field" minOccurs="0"/>
										<xs:element name="field284" type="field" minOccurs="0"/>
										<xs:element name="field285" type="field" minOccurs="0"/>
										<xs:element name="field286" type="field" minOccurs="0"/>
										<xs:element name="field287" type="field" minOccurs="0"/>
										<xs:element name="field288" type="field" minOccurs="0"/>
										<xs:element name="field289" type="field" minOccurs="0"/>
										<xs:element name="field290" type="field" minOccurs="0"/>
										<xs:element name="field291" type="field" minOccurs="0"/>
										<xs:element name="field292" type="field" minOccurs="0"/>
										<xs:element name="field293" type="field" minOccurs="0"/>
										<xs:element name="field294" type="field" minOccurs="0"/>
										<xs:element name="field295" type="field" minOccurs="0"/>
										<xs:element name="field296" type="field" minOccurs="0"/>
										<xs:element name="field297" type="field" minOccurs="0"/>
										<xs:element name="field298" type="field" minOccurs="0"/>
										<xs:element name="field299" type="field" minOccurs="0"/>
										<xs:element name="field300" type="field" minOccurs="0"/>
										<xs:element name="field301" type="field" minOccurs="0"/>
										<xs:element name="field302" type="field" minOccurs="0"/>
										<xs:element name="field303" type="field" minOccurs="0"/>
										<xs:element name="field304" type="field" minOccurs="0"/>
										<xs:element name="field305" type="field" minOccurs="0"/>
										<xs:element name="field306" type="field" minOccurs="0"/>
										<xs:element name="field307" type="field" minOccurs="0"/>
										<xs:element name="field308" type="field" minOccurs="0"/>
										<xs:element name="field309" type="field" minOccurs="0"/>
										<xs:element name="field310" type="field" minOccurs="0"/>
										<xs:element name="field311" type="field" minOccurs="0"/>
										<xs:element name="field312" type="field" minOccurs="0"/>
										<xs:element name="field313" type="field" minOccurs="0"/>
										<xs:element name="field314" type="field" minOccurs="0"/>
										<xs:element name="field315" type="field" minOccurs="0"/>
										<xs:element name="field316" type="field" minOccurs="0"/>
										<xs:element name="field317" type="field" minOccurs="0"/>
										<xs:element name="field318" type="field" minOccurs="0"/>
										<xs:element name="field319" type="field" minOccurs="0"/>
										<xs:element name="field320" type="field" minOccurs="0"/>
										<xs:element name="field321" type="field" minOccurs="0"/>
										<xs:element name="field322" type="field" minOccurs="0"/>
										<xs:element name="field323" type="field" minOccurs="0"/>
										<xs:element name="field324" type="field" minOccurs="0"/>
										<xs:element name="field325" type="field" minOccurs="0"/>
										<xs:element name="field326" type="field" minOccurs="0"/>
										<xs:element name="field327" type="field" minOccurs="0"/>
										<xs:element name="field328" type="field" minOccurs="0"/>
										<xs:element name="field329" type="field" minOccurs="0"/>
										<xs:element name="field330" type="field" minOccurs="0"/>
										<xs:element name="field331" type="field" minOccurs="0"/>
										<xs:element name="field332" type="field" minOccurs="0"/>
										<xs:element name="field333" type="field" minOccurs="0"/>
										<xs:element name="field334" type="field" minOccurs="0"/>
										<xs:element name="field335" type="field" minOccurs="0"/>
										<xs:element name="field336" type="field" minOccurs="0"/>
										<xs:element name="field337" type="field" minOccurs="0"/>
										<xs:element name="field338" type="field" minOccurs="0"/>
										<xs:element name="field339" type="field" minOccurs="0"/>
										<xs:element name="field340" type="field" minOccurs="0"/>
										<xs:element name="field341" type="field" minOccurs="0"/>
										<xs:element name="field342" type="field" minOccurs="0"/>
										<xs:element name="field343" type="field" minOccurs="0"/>
										<xs:element name="field344" type="field" minOccurs="0"/>
										<xs:element name="field345" type="field" minOccurs="0"/>
										<xs:element name="field346" type="field" minOccurs="0"/>
										<xs:element name="field347" type="field" minOccurs="0"/>
										<xs:element name="field348" type="field" minOccurs="0"/>
										<xs:element name="field349" type="field" minOccurs="0"/>
										<xs:element name="field350" type="field" minOccurs="0"/>
										<xs:element name="field351" type="field" minOccurs="0"/>
										<xs:element name="field352" type="field" minOccurs="0"/>
										<xs:element name="field353" type="field" minOccurs="0"/>
										<xs:element name="field354" type="field" minOccurs="0"/>
										<xs:element name="field355" type="field" minOccurs="0"/>
										<xs:element name="field356" type="field" minOccurs="0"/>
										<xs:element name="field357" type="field" minOccurs="0"/>
										<xs:element name="field358" type="field" minOccurs="0"/>
										<xs:element name="field359" type="field" minOccurs="0"/>
										<xs:element name="field360" type="field" minOccurs="0"/>
										<xs:element name="field361" type="field" minOccurs="0"/>
										<xs:element name="field362" type="field" minOccurs="0"/>
										<xs:element name="field363" type="field" minOccurs="0"/>
										<xs:element name="field364" type="field" minOccurs="0"/>
										<xs:element name="field365" type="field" minOccurs="0"/>
										<xs:element name="field366" type="field" minOccurs="0"/>
										<xs:element name="field367" type="field" minOccurs="0"/>
										<xs:element name="field368" type="field" minOccurs="0"/>
										<xs:element name="field369" type="field" minOccurs="0"/>
										<xs:element name="field370" type="field" minOccurs="0"/>
										<xs:element name="field371" type="field" minOccurs="0"/>
										<xs:element name="field372" type="field" minOccurs="0"/>
										<xs:element name="field373" type="field" minOccurs="0"/>
										<xs:element name="field374" type="field" minOccurs="0"/>
										<xs:element name="field375" type="field" minOccurs="0"/>
										<xs:element name="field376" type="field" minOccurs="0"/>
										<xs:element name="field377" type="field" minOccurs="0"/>
										<xs:element name="field378" type="field" minOccurs="0"/>
										<xs:element name="field379" type="field" minOccurs="0"/>
										<xs:element name="field380" type="field" minOccurs="0"/>
										<xs:element name="field381" type="field" minOccurs="0"/>
										<xs:element name="field382" type="field" minOccurs="0"/>
										<xs:element name="field383" type="field" minOccurs="0"/>
										<xs:element name="field384" type="field" minOccurs="0"/>
										<xs:element name="field385" type="field" minOccurs="0"/>
										<xs:element name="field386" type="field" minOccurs="0"/>
										<xs:element name="field387" type="field" minOccurs="0"/>
										<xs:element name="field388" type="field" minOccurs="0"/>
										<xs:element name="field389" type="field" minOccurs="0"/>
										<xs:element name="field390" type="field" minOccurs="0"/>
										<xs:element name="field391" type="field" minOccurs="0"/>
										<xs:element name="field392" type="field" minOccurs="0"/>
										<xs:element name="field393" type="field" minOccurs="0"/>
										<xs:element name="field394" type="field" minOccurs="0"/>
										<xs:element name="field395" type="field" minOccurs="0"/>
										<xs:element name="field396" type="field" minOccurs="0"/>
										<xs:element name="field397" type="field" minOccurs="0"/>
										<xs:element name="field398" type="field" minOccurs="0"/>
										<xs:element name="field399" type="field" minOccurs="0"/>
										<xs:element name="field400" type="field" minOccurs="0"/>
										<xs:element name="field401" type="field" minOccurs="0"/>
										<xs:element name="field402" type="field" minOccurs="0"/>
										<xs:element name="field403" type="field" minOccurs="0"/>
										<xs:element name="field404" type="field" minOccurs="0"/>
										<xs:element name="field405" type="field" minOccurs="0"/>
										<xs:element name="field406" type="field" minOccurs="0"/>
										<xs:element name="field407" type="field" minOccurs="0"/>
										<xs:element name="field408" type="field" minOccurs="0"/>
										<xs:element name="field409" type="field" minOccurs="0"/>
										<xs:element name="field410" type="field" minOccurs="0"/>
										<xs:element name="field411" type="field" minOccurs="0"/>
										<xs:element name="field412" type="field" minOccurs="0"/>
										<xs:element name="field413" type="field" minOccurs="0"/>
										<xs:element name="field414" type="field" minOccurs="0"/>
										<xs:element name="field415" type="field" minOccurs="0"/>
										<xs:element name="field416" type="field" minOccurs="0"/>
										<xs:element name="field417" type="field" minOccurs="0"/>
										<xs:element name="field418" type="field" minOccurs="0"/>
										<xs:element name="field419" type="field" minOccurs="0"/>
										<xs:element name="field420" type="field" minOccurs="0"/>
										<xs:element name="field421" type="field" minOccurs="0"/>
										<xs:element name="field422" type="field" minOccurs="0"/>
										<xs:element name="field423" type="field" minOccurs="0"/>
										<xs:element name="field424" type="field" minOccurs="0"/>
										<xs:element name="field425" type="field" minOccurs="0"/>
										<xs:element name="field426" type="field" minOccurs="0"/>
										<xs:element name="field427" type="field" minOccurs="0"/>
										<xs:element name="field428" type="field" minOccurs="0"/>
										<xs:element name="field429" type="field" minOccurs="0"/>
										<xs:element name="field430" type="field" minOccurs="0"/>
										<xs:element name="field431" type="field" minOccurs="0"/>
										<xs:element name="field432" type="field" minOccurs="0"/>
										<xs:element name="field433" type="field" minOccurs="0"/>
										<xs:element name="field434" type="field" minOccurs="0"/>
										<xs:element name="field435" type="field" minOccurs="0"/>
										<xs:element name="field436" type="field" minOccurs="0"/>
										<xs:element name="field437" type="field" minOccurs="0"/>
										<xs:element name="field438" type="field" minOccurs="0"/>
										<xs:element name="field439" type="field" minOccurs="0"/>
										<xs:element name="field440" type="field" minOccurs="0"/>
										<xs:element name="field441" type="field" minOccurs="0"/>
										<xs:element name="field442" type="field" minOccurs="0"/>
										<xs:element name="field443" type="field" minOccurs="0"/>
										<xs:element name="field444" type="field" minOccurs="0"/>
										<xs:element name="field445" type="field" minOccurs="0"/>
										<xs:element name="field446" type="field" minOccurs="0"/>
										<xs:element name="field447" type="field" minOccurs="0"/>
										<xs:element name="field448" type="field" minOccurs="0"/>
										<xs:element name="field449" type="field" minOccurs="0"/>
										<xs:element name="field450" type="field" minOccurs="0"/>
										<xs:element name="field451" type="field" minOccurs="0"/>
										<xs:element name="field452" type="field" minOccurs="0"/>
										<xs:element name="field453" type="field" minOccurs="0"/>
										<xs:element name="field454" type="field" minOccurs="0"/>
										<xs:element name="field455" type="field" minOccurs="0"/>
										<xs:element name="field456" type="field" minOccurs="0"/>
										<xs:element name="field457" type="field" minOccurs="0"/>
										<xs:element name="field458" type="field" minOccurs="0"/>
										<xs:element name="field459" type="field" minOccurs="0"/>
										<xs:element name="field460" type="field" minOccurs="0"/>
										<xs:element name="field461" type="field" minOccurs="0"/>
										<xs:element name="field462" type="field" minOccurs="0"/>
										<xs:element name="field463" type="field" minOccurs="0"/>
										<xs:element name="field464" type="field" minOccurs="0"/>
										<xs:element name="field465" type="field" minOccurs="0"/>
										<xs:element name="field466" type="field" minOccurs="0"/>
										<xs:element name="field467" type="field" minOccurs="0"/>
										<xs:element name="field468" type="field" minOccurs="0"/>
										<xs:element name="field469" type="field" minOccurs="0"/>
										<xs:element name="field470" type="field" minOccurs="0"/>
										<xs:element name="field471" type="field" minOccurs="0"/>
										<xs:element name="field472" type="field" minOccurs="0"/>
										<xs:element name="field473" type="field" minOccurs="0"/>
										<xs:element name="field474" type="field" minOccurs="0"/>
										<xs:element name="field475" type="field" minOccurs="0"/>
										<xs:element name="field476" type="field" minOccurs="0"/>
										<xs:element name="field477" type="field" minOccurs="0"/>
										<xs:element name="field478" type="field" minOccurs="0"/>
										<xs:element name="field479" type="field" minOccurs="0"/>
										<xs:element name="field480" type="field" minOccurs="0"/>
										<xs:element name="field481" type="field" minOccurs="0"/>
										<xs:element name="field482" type="field" minOccurs="0"/>
										<xs:element name="field483" type="field" minOccurs="0"/>
										<xs:element name="field484" type="field" minOccurs="0"/>
										<xs:element name="field485" type="field" minOccurs="0"/>
										<xs:element name="field486" type="field" minOccurs="0"/>
										<xs:element name="field487" type="field" minOccurs="0"/>
										<xs:element name="field488" type="field" minOccurs="0"/>
										<xs:element name="field489" type="field" minOccurs="0"/>
										<xs:element name="field490" type="field" minOccurs="0"/>
										<xs:element name="field491" type="field" minOccurs="0"/>
										<xs:element name="field492" type="field" minOccurs="0"/>
										<xs:element name="field493" type="field" minOccurs="0"/>
										<xs:element name="field494" type="field" minOccurs="0"/>
										<xs:element name="field495" type="field" minOccurs="0"/>
										<xs:element name="field496" type="field" minOccurs="0"/>
										<xs:element name="field497" type="field" minOccurs="0"/>
										<xs:element name="field498" type="field" minOccurs="0"/>
										<xs:element name="field499" type="field" minOccurs="0"/>
										<xs:element name="field500" type="field" minOccurs="0"/>
										<xs:element name="field501" type="field" minOccurs="0"/>
										<xs:element name="field502" type="field" minOccurs="0"/>
										<xs:element name="field503" type="field" minOccurs="0"/>
										<xs:element name="field504" type="field" minOccurs="0"/>
										<xs:element name="field505" type="field" minOccurs="0"/>
										<xs:element name="field506" type="field" minOccurs="0"/>
										<xs:element name="field507" type="field" minOccurs="0"/>
										<xs:element name="field508" type="field" minOccurs="0"/>
										<xs:element name="field509" type="field" minOccurs="0"/>
										<xs:element name="field510" type="field" minOccurs="0"/>
										<xs:element name="field511" type="field" minOccurs="0"/>
										<xs:element name="field512" type="field" minOccurs="0"/>
										<xs:element name="field513" type="field" minOccurs="0"/>
										<xs:element name="field514" type="field" minOccurs="0"/>
										<xs:element name="field515" type="field" minOccurs="0"/>
										<xs:element name="field516" type="field" minOccurs="0"/>
										<xs:element name="field517" type="field" minOccurs="0"/>
										<xs:element name="field518" type="field" minOccurs="0"/>
										<xs:element name="field519" type="field" minOccurs="0"/>
										<xs:element name="field520" type="field" minOccurs="0"/>
										<xs:element name="field521" type="field" minOccurs="0"/>
										<xs:element name="field522" type="field" minOccurs="0"/>
										<xs:element name="field523" type="field" minOccurs="0"/>
										<xs:element name="field524" type="field" minOccurs="0"/>
										<xs:element name="field525" type="field" minOccurs="0"/>
										<xs:element name="field526" type="field" minOccurs="0"/>
										<xs:element name="field527" type="field" minOccurs="0"/>
										<xs:element name="field528" type="field" minOccurs="0"/>
										<xs:element name="field529" type="field" minOccurs="0"/>
										<xs:element name="field530" type="field" minOccurs="0"/>
										<xs:element name="field531" type="field" minOccurs="0"/>
										<xs:element name="field532" type="field" minOccurs="0"/>
										<xs:element name="field533" type="field" minOccurs="0"/>
										<xs:element name="field534" type="field" minOccurs="0"/>
										<xs:element name="field535" type="field" minOccurs="0"/>
										<xs:element name="field536" type="field" minOccurs="0"/>
										<xs:element name="field537" type="field" minOccurs="0"/>
										<xs:element name="field538" type="field" minOccurs="0"/>
										<xs:element name="field539" type="field" minOccurs="0"/>
										<xs:element name="field540" type="field" minOccurs="0"/>
										<xs:element name="field541" type="field" minOccurs="0"/>
										<xs:element name="field542" type="field" minOccurs="0"/>
										<xs:element name="field543" type="field" minOccurs="0"/>
										<xs:element name="field544" type="field" minOccurs="0"/>
										<xs:element name="field545" type="field" minOccurs="0"/>
										<xs:element name="field546" type="field" minOccurs="0"/>
										<xs:element name="field547" type="field" minOccurs="0"/>
										<xs:element name="field548" type="field" minOccurs="0"/>
										<xs:element name="field549" type="field" minOccurs="0"/>
										<xs:element name="field550" type="field" minOccurs="0"/>
										<xs:element name="field551" type="field" minOccurs="0"/>
										<xs:element name="field552" type="field" minOccurs="0"/>
										<xs:element name="field553" type="field" minOccurs="0"/>
										<xs:element name="field554" type="field" minOccurs="0"/>
										<xs:element name="field555" type="field" minOccurs="0"/>
										<xs:element name="field556" type="field" minOccurs="0"/>
										<xs:element name="field557" type="field" minOccurs="0"/>
										<xs:element name="field558" type="field" minOccurs="0"/>
										<xs:element name="field559" type="field" minOccurs="0"/>
										<xs:element name="field560" type="field" minOccurs="0"/>
										<xs:element name="field561" type="field" minOccurs="0"/>
										<xs:element name="field562" type="field" minOccurs="0"/>
										<xs:element name="field563" type="field" minOccurs="0"/>
										<xs:element name="field564" type="field" minOccurs="0"/>
										<xs:element name="field565" type="field" minOccurs="0"/>
										<xs:element name="field566" type="field" minOccurs="0"/>
										<xs:element name="field567" type="field" minOccurs="0"/>
										<xs:element name="field568" type="field" minOccurs="0"/>
										<xs:element name="field569" type="field" minOccurs="0"/>
										<xs:element name="field570" type="field" minOccurs="0"/>
										<xs:element name="field571" type="field" minOccurs="0"/>
										<xs:element name="field572" type="field" minOccurs="0"/>
										<xs:element name="field573" type="field" minOccurs="0"/>
										<xs:element name="field574" type="field" minOccurs="0"/>
										<xs:element name="field575" type="field" minOccurs="0"/>
										<xs:element name="field576" type="field" minOccurs="0"/>
										<xs:element name="field577" type="field" minOccurs="0"/>
										<xs:element name="field578" type="field" minOccurs="0"/>
										<xs:element name="field579" type="field" minOccurs="0"/>
										<xs:element name="field580" type="field" minOccurs="0"/>
										<xs:element name="field581" type="field" minOccurs="0"/>
										<xs:element name="field582" type="field" minOccurs="0"/>
										<xs:element name="field583" type="field" minOccurs="0"/>
										<xs:element name="field584" type="field" minOccurs="0"/>
										<xs:element name="field585" type="field" minOccurs="0"/>
										<xs:element name="field586" type="field" minOccurs="0"/>
										<xs:element name="field587" type="field" minOccurs="0"/>
										<xs:element name="field588" type="field" minOccurs="0"/>
										<xs:element name="field589" type="field" minOccurs="0"/>
										<xs:element name="field590" type="field" minOccurs="0"/>
										<xs:element name="field591" type="field" minOccurs="0"/>
										<xs:element name="field592" type="field" minOccurs="0"/>
										<xs:element name="field593" type="field" minOccurs="0"/>
										<xs:element name="field594" type="field" minOccurs="0"/>
										<xs:element name="field595" type="field" minOccurs="0"/>
										<xs:element name="field596" type="field" minOccurs="0"/>
										<xs:element name="field597" type="field" minOccurs="0"/>
										<xs:element name="field598" type="field" minOccurs="0"/>
										<xs:element name="field599" type="field" minOccurs="0"/>
										<xs:element name="field600" type="field" minOccurs="0"/>
										<xs:element name="field601" type="field" minOccurs="0"/>
										<xs:element name="field602" type="field" minOccurs="0"/>
										<xs:element name="field603" type="field" minOccurs="0"/>
										<xs:element name="field604" type="field" minOccurs="0"/>
										<xs:element name="field605" type="field" minOccurs="0"/>
										<xs:element name="field606" type="field" minOccurs="0"/>
										<xs:element name="field607" type="field" minOccurs="0"/>
										<xs:element name="field608" type="field" minOccurs="0"/>
										<xs:element name="field609" type="field" minOccurs="0"/>
										<xs:element name="field610" type="field" minOccurs="0"/>
										<xs:element name="field611" type="field" minOccurs="0"/>
										<xs:element name="field612" type="field" minOccurs="0"/>
										<xs:element name="field613" type="field" minOccurs="0"/>
										<xs:element name="field614" type="field" minOccurs="0"/>
										<xs:element name="field615" type="field" minOccurs="0"/>
										<xs:element name="field616" type="field" minOccurs="0"/>
										<xs:element name="field617" type="field" minOccurs="0"/>
										<xs:element name="field618" type="field" minOccurs="0"/>
										<xs:element name="field619" type="field" minOccurs="0"/>
										<xs:element name="field620" type="field" minOccurs="0"/>
										<xs:element name="field621" type="field" minOccurs="0"/>
										<xs:element name="field622" type="field" minOccurs="0"/>
										<xs:element name="field623" type="field" minOccurs="0"/>
										<xs:element name="field624" type="field" minOccurs="0"/>
										<xs:element name="field625" type="field" minOccurs="0"/>
										<xs:element name="field626" type="field" minOccurs="0"/>
										<xs:element name="field627" type="field" minOccurs="0"/>
										<xs:element name="field628" type="field" minOccurs="0"/>
										<xs:element name="field629" type="field" minOccurs="0"/>
										<xs:element name="field630" type="field" minOccurs="0"/>
										<xs:element name="field631" type="field" minOccurs="0"/>
										<xs:element name="field632" type="field" minOccurs="0"/>
										<xs:element name="field633" type="field" minOccurs="0"/>
										<xs:element name="field634" type="field" minOccurs="0"/>
										<xs:element name="field635" type="field" minOccurs="0"/>
										<xs:element name="field636" type="field" minOccurs="0"/>
										<xs:element name="field637" type="field" minOccurs="0"/>
										<xs:element name="field638" type="field" minOccurs="0"/>
										<xs:element name="field639" type="field" minOccurs="0"/>
										<xs:element name="field640" type="field" minOccurs="0"/>
										<xs:element name="field641" type="field" minOccurs="0"/>
										<xs:element name="field642" type="field" minOccurs="0"/>
										<xs:element name="field643" type="field" minOccurs="0"/>
										<xs:element name="field644" type="field" minOccurs="0"/>
										<xs:element name="field645" type="field" minOccurs="0"/>
										<xs:element name="field646" type="field" minOccurs="0"/>
										<xs:element name="field647" type="field" minOccurs="0"/>
										<xs:element name="field648" type="field" minOccurs="0"/>
										<xs:element name="field649" type="field" minOccurs="0"/>
										<xs:element name="field650" type="field" minOccurs="0"/>
										<xs:element name="field651" type="field" minOccurs="0"/>
										<xs:element name="field652" type="field" minOccurs="0"/>
										<xs:element name="field653" type="field" minOccurs="0"/>
										<xs:element name="field654" type="field" minOccurs="0"/>
										<xs:element name="field655" type="field" minOccurs="0"/>
										<xs:element name="field656" type="field" minOccurs="0"/>
										<xs:element name="field657" type="field" minOccurs="0"/>
										<xs:element name="field658" type="field" minOccurs="0"/>
										<xs:element name="field659" type="field" minOccurs="0"/>
										<xs:element name="field660" type="field" minOccurs="0"/>
										<xs:element name="field661" type="field" minOccurs="0"/>
										<xs:element name="field662" type="field" minOccurs="0"/>
										<xs:element name="field663" type="field" minOccurs="0"/>
										<xs:element name="field664" type="field" minOccurs="0"/>
										<xs:element name="field665" type="field" minOccurs="0"/>
										<xs:element name="field666" type="field" minOccurs="0"/>
										<xs:element name="field667" type="field" minOccurs="0"/>
										<xs:element name="field668" type="field" minOccurs="0"/>
										<xs:element name="field669" type="field" minOccurs="0"/>
										<xs:element name="field670" type="field" minOccurs="0"/>
										<xs:element name="field671" type="field" minOccurs="0"/>
										<xs:element name="field672" type="field" minOccurs="0"/>
										<xs:element name="field673" type="field" minOccurs="0"/>
										<xs:element name="field674" type="field" minOccurs="0"/>
										<xs:element name="field675" type="field" minOccurs="0"/>
										<xs:element name="field676" type="field" minOccurs="0"/>
										<xs:element name="field677" type="field" minOccurs="0"/>
										<xs:element name="field678" type="field" minOccurs="0"/>
										<xs:element name="field679" type="field" minOccurs="0"/>
										<xs:element name="field680" type="field" minOccurs="0"/>
										<xs:element name="field681" type="field" minOccurs="0"/>
										<xs:element name="field682" type="field" minOccurs="0"/>
										<xs:element name="field683" type="field" minOccurs="0"/>
										<xs:element name="field684" type="field" minOccurs="0"/>
										<xs:element name="field685" type="field" minOccurs="0"/>
										<xs:element name="field686" type="field" minOccurs="0"/>
										<xs:element name="field687" type="field" minOccurs="0"/>
										<xs:element name="field688" type="field" minOccurs="0"/>
										<xs:element name="field689" type="field" minOccurs="0"/>
										<xs:element name="field690" type="field" minOccurs="0"/>
										<xs:element name="field691" type="field" minOccurs="0"/>
										<xs:element name="field692" type="field" minOccurs="0"/>
										<xs:element name="field693" type="field" minOccurs="0"/>
										<xs:element name="field694" type="field" minOccurs="0"/>
										<xs:element name="field695" type="field" minOccurs="0"/>
										<xs:element name="field696" type="field" minOccurs="0"/>
										<xs:element name="field697" type="field" minOccurs="0"/>
										<xs:element name="field698" type="field" minOccurs="0"/>
										<xs:element name="field699" type="field" minOccurs="0"/>
										<xs:element name="field700" type="field" minOccurs="0"/>
										<xs:element name="field701" type="field" minOccurs="0"/>
										<xs:element name="field702" type="field" minOccurs="0"/>
										<xs:element name="field703" type="field" minOccurs="0"/>
										<xs:element name="field704" type="field" minOccurs="0"/>
										<xs:element name="field705" type="field" minOccurs="0"/>
										<xs:element name="field706" type="field" minOccurs="0"/>
										<xs:element name="field707" type="field" minOccurs="0"/>
										<xs:element name="field708" type="field" minOccurs="0"/>
										<xs:element name="field709" type="field" minOccurs="0"/>
										<xs:element name="field710" type="field" minOccurs="0"/>
										<xs:element name="field711" type="field" minOccurs="0"/>
										<xs:element name="field712" type="field" minOccurs="0"/>
										<xs:element name="field713" type="field" minOccurs="0"/>
										<xs:element name="field714" type="field" minOccurs="0"/>
										<xs:element name="field715" type="field" minOccurs="0"/>
										<xs:element name="field716" type="field" minOccurs="0"/>
										<xs:element name="field717" type="field" minOccurs="0"/>
										<xs:element name="field718" type="field" minOccurs="0"/>
										<xs:element name="field719" type="field" minOccurs="0"/>
										<xs:element name="field720" type="field" minOccurs="0"/>
										<xs:element name="field721" type="field" minOccurs="0"/>
										<xs:element name="field722" type="field" minOccurs="0"/>
										<xs:element name="field723" type="field" minOccurs="0"/>
										<xs:element name="field724" type="field" minOccurs="0"/>
										<xs:element name="field725" type="field" minOccurs="0"/>
										<xs:element name="field726" type="field" minOccurs="0"/>
										<xs:element name="field727" type="field" minOccurs="0"/>
										<xs:element name="field728" type="field" minOccurs="0"/>
										<xs:element name="field729" type="field" minOccurs="0"/>
										<xs:element name="field730" type="field" minOccurs="0"/>
										<xs:element name="field731" type="field" minOccurs="0"/>
										<xs:element name="field732" type="field" minOccurs="0"/>
										<xs:element name="field733" type="field" minOccurs="0"/>
										<xs:element name="field734" type="field" minOccurs="0"/>
										<xs:element name="field735" type="field" minOccurs="0"/>
										<xs:element name="field736" type="field" minOccurs="0"/>
										<xs:element name="field737" type="field" minOccurs="0"/>
										<xs:element name="field738" type="field" minOccurs="0"/>
										<xs:element name="field739" type="field" minOccurs="0"/>
										<xs:element name="field740" type="field" minOccurs="0"/>
										<xs:element name="field741" type="field" minOccurs="0"/>
										<xs:element name="field742" type="field" minOccurs="0"/>
										<xs:element name="field743" type="field" minOccurs="0"/>
										<xs:element name="field744" type="field" minOccurs="0"/>
										<xs:element name="field745" type="field" minOccurs="0"/>
										<xs:element name="field746" type="field" minOccurs="0"/>
										<xs:element name="field747" type="field" minOccurs="0"/>
										<xs:element name="field748" type="field" minOccurs="0"/>
										<xs:element name="field749" type="field" minOccurs="0"/>
										<xs:element name="field750" type="field" minOccurs="0"/>
										<xs:element name="field751" type="field" minOccurs="0"/>
										<xs:element name="field752" type="field" minOccurs="0"/>
										<xs:element name="field753" type="field" minOccurs="0"/>
										<xs:element name="field754" type="field" minOccurs="0"/>
										<xs:element name="field755" type="field" minOccurs="0"/>
										<xs:element name="field756" type="field" minOccurs="0"/>
										<xs:element name="field757" type="field" minOccurs="0"/>
										<xs:element name="field758" type="field" minOccurs="0"/>
										<xs:element name="field759" type="field" minOccurs="0"/>
										<xs:element name="field760" type="field" minOccurs="0"/>
										<xs:element name="field761" type="field" minOccurs="0"/>
										<xs:element name="field762" type="field" minOccurs="0"/>
										<xs:element name="field763" type="field" minOccurs="0"/>
										<xs:element name="field764" type="field" minOccurs="0"/>
										<xs:element name="field765" type="field" minOccurs="0"/>
										<xs:element name="field766" type="field" minOccurs="0"/>
										<xs:element name="field767" type="field" minOccurs="0"/>
										<xs:element name="field768" type="field" minOccurs="0"/>
										<xs:element name="field769" type="field" minOccurs="0"/>
										<xs:element name="field770" type="field" minOccurs="0"/>
										<xs:element name="field771" type="field" minOccurs="0"/>
										<xs:element name="field772" type="field" minOccurs="0"/>
										<xs:element name="field773" type="field" minOccurs="0"/>
										<xs:element name="field774" type="field" minOccurs="0"/>
										<xs:element name="field775" type="field" minOccurs="0"/>
										<xs:element name="field776" type="field" minOccurs="0"/>
										<xs:element name="field777" type="field" minOccurs="0"/>
										<xs:element name="field778" type="field" minOccurs="0"/>
										<xs:element name="field779" type="field" minOccurs="0"/>
										<xs:element name="field780" type="field" minOccurs="0"/>
										<xs:element name="field781" type="field" minOccurs="0"/>
										<xs:element name="field782" type="field" minOccurs="0"/>
										<xs:element name="field783" type="field" minOccurs="0"/>
										<xs:element name="field784" type="field" minOccurs="0"/>
										<xs:element name="field785" type="field" minOccurs="0"/>
										<xs:element name="field786" type="field" minOccurs="0"/>
										<xs:element name="field787" type="field" minOccurs="0"/>
										<xs:element name="field788" type="field" minOccurs="0"/>
										<xs:element name="field789" type="field" minOccurs="0"/>
										<xs:element name="field790" type="field" minOccurs="0"/>
										<xs:element name="field791" type="field" minOccurs="0"/>
										<xs:element name="field792" type="field" minOccurs="0"/>
										<xs:element name="field793" type="field" minOccurs="0"/>
										<xs:element name="field794" type="field" minOccurs="0"/>
										<xs:element name="field795" type="field" minOccurs="0"/>
										<xs:element name="field796" type="field" minOccurs="0"/>
										<xs:element name="field797" type="field" minOccurs="0"/>
										<xs:element name="field798" type="field" minOccurs="0"/>
										<xs:element name="field799" type="field" minOccurs="0"/>
										<xs:element name="field800" type="field" minOccurs="0"/>
										<xs:element name="field801" type="field" minOccurs="0"/>
										<xs:element name="field802" type="field" minOccurs="0"/>
										<xs:element name="field803" type="field" minOccurs="0"/>
										<xs:element name="field804" type="field" minOccurs="0"/>
										<xs:element name="field805" type="field" minOccurs="0"/>
										<xs:element name="field806" type="field" minOccurs="0"/>
										<xs:element name="field807" type="field" minOccurs="0"/>
										<xs:element name="field808" type="field" minOccurs="0"/>
										<xs:element name="field809" type="field" minOccurs="0"/>
										<xs:element name="field810" type="field" minOccurs="0"/>
										<xs:element name="field811" type="field" minOccurs="0"/>
										<xs:element name="field812" type="field" minOccurs="0"/>
										<xs:element name="field813" type="field" minOccurs="0"/>
										<xs:element name="field814" type="field" minOccurs="0"/>
										<xs:element name="field815" type="field" minOccurs="0"/>
										<xs:element name="field816" type="field" minOccurs="0"/>
										<xs:element name="field817" type="field" minOccurs="0"/>
										<xs:element name="field818" type="field" minOccurs="0"/>
										<xs:element name="field819" type="field" minOccurs="0"/>
										<xs:element name="field820" type="field" minOccurs="0"/>
										<xs:element name="field821" type="field" minOccurs="0"/>
										<xs:element name="field822" type="field" minOccurs="0"/>
										<xs:element name="field823" type="field" minOccurs="0"/>
										<xs:element name="field824" type="field" minOccurs="0"/>
										<xs:element name="field825" type="field" minOccurs="0"/>
										<xs:element name="field826" type="field" minOccurs="0"/>
										<xs:element name="field827" type="field" minOccurs="0"/>
										<xs:element name="field828" type="field" minOccurs="0"/>
										<xs:element name="field829" type="field" minOccurs="0"/>
										<xs:element name="field830" type="field" minOccurs="0"/>
										<xs:element name="field831" type="field" minOccurs="0"/>
										<xs:element name="field832" type="field" minOccurs="0"/>
										<xs:element name="field833" type="field" minOccurs="0"/>
										<xs:element name="field834" type="field" minOccurs="0"/>
										<xs:element name="field835" type="field" minOccurs="0"/>
										<xs:element name="field836" type="field" minOccurs="0"/>
										<xs:element name="field837" type="field" minOccurs="0"/>
										<xs:element name="field838" type="field" minOccurs="0"/>
										<xs:element name="field839" type="field" minOccurs="0"/>
										<xs:element name="field840" type="field" minOccurs="0"/>
										<xs:element name="field841" type="field" minOccurs="0"/>
										<xs:element name="field842" type="field" minOccurs="0"/>
										<xs:element name="field843" type="field" minOccurs="0"/>
										<xs:element name="field844" type="field" minOccurs="0"/>
										<xs:element name="field845" type="field" minOccurs="0"/>
										<xs:element name="field846" type="field" minOccurs="0"/>
										<xs:element name="field847" type="field" minOccurs="0"/>
										<xs:element name="field848" type="field" minOccurs="0"/>
										<xs:element name="field849" type="field" minOccurs="0"/>
										<xs:element name="field850" type="field" minOccurs="0"/>
										<xs:element name="field851" type="field" minOccurs="0"/>
										<xs:element name="field852" type="field" minOccurs="0"/>
										<xs:element name="field853" type="field" minOccurs="0"/>
										<xs:element name="field854" type="field" minOccurs="0"/>
										<xs:element name="field855" type="field" minOccurs="0"/>
										<xs:element name="field856" type="field" minOccurs="0"/>
										<xs:element name="field857" type="field" minOccurs="0"/>
										<xs:element name="field858" type="field" minOccurs="0"/>
										<xs:element name="field859" type="field" minOccurs="0"/>
										<xs:element name="field860" type="field" minOccurs="0"/>
										<xs:element name="field861" type="field" minOccurs="0"/>
										<xs:element name="field862" type="field" minOccurs="0"/>
										<xs:element name="field863" type="field" minOccurs="0"/>
										<xs:element name="field864" type="field" minOccurs="0"/>
										<xs:element name="field865" type="field" minOccurs="0"/>
										<xs:element name="field866" type="field" minOccurs="0"/>
										<xs:element name="field867" type="field" minOccurs="0"/>
										<xs:element name="field868" type="field" minOccurs="0"/>
										<xs:element name="field869" type="field" minOccurs="0"/>
										<xs:element name="field870" type="field" minOccurs="0"/>
										<xs:element name="field871" type="field" minOccurs="0"/>
										<xs:element name="field872" type="field" minOccurs="0"/>
										<xs:element name="field873" type="field" minOccurs="0"/>
										<xs:element name="field874" type="field" minOccurs="0"/>
										<xs:element name="field875" type="field" minOccurs="0"/>
										<xs:element name="field876" type="field" minOccurs="0"/>
										<xs:element name="field877" type="field" minOccurs="0"/>
										<xs:element name="field878" type="field" minOccurs="0"/>
										<xs:element name="field879" type="field" minOccurs="0"/>
										<xs:element name="field880" type="field" minOccurs="0"/>
										<xs:element name="field881" type="field" minOccurs="0"/>
										<xs:element name="field882" type="field" minOccurs="0"/>
										<xs:element name="field883" type="field" minOccurs="0"/>
										<xs:element name="field884" type="field" minOccurs="0"/>
										<xs:element name="field885" type="field" minOccurs="0"/>
										<xs:element name="field886" type="field" minOccurs="0"/>
										<xs:element name="field887" type="field" minOccurs="0"/>
										<xs:element name="field888" type="field" minOccurs="0"/>
										<xs:element name="field889" type="field" minOccurs="0"/>
										<xs:element name="field890" type="field" minOccurs="0"/>
										<xs:element name="field891" type="field" minOccurs="0"/>
										<xs:element name="field892" type="field" minOccurs="0"/>
										<xs:element name="field893" type="field" minOccurs="0"/>
										<xs:element name="field894" type="field" minOccurs="0"/>
										<xs:element name="field895" type="field" minOccurs="0"/>
										<xs:element name="field896" type="field" minOccurs="0"/>
										<xs:element name="field897" type="field" minOccurs="0"/>
										<xs:element name="field898" type="field" minOccurs="0"/>
										<xs:element name="field899" type="field" minOccurs="0"/>
										<xs:element name="field900" type="field" minOccurs="0"/>
										<xs:element name="field901" type="field" minOccurs="0"/>
										<xs:element name="field902" type="field" minOccurs="0"/>
										<xs:element name="field903" type="field" minOccurs="0"/>
										<xs:element name="field904" type="field" minOccurs="0"/>
										<xs:element name="field905" type="field" minOccurs="0"/>
										<xs:element name="field906" type="field" minOccurs="0"/>
										<xs:element name="field907" type="field" minOccurs="0"/>
										<xs:element name="field908" type="field" minOccurs="0"/>
										<xs:element name="field909" type="field" minOccurs="0"/>
										<xs:element name="field910" type="field" minOccurs="0"/>
										<xs:element name="field911" type="field" minOccurs="0"/>
										<xs:element name="field912" type="field" minOccurs="0"/>
										<xs:element name="field913" type="field" minOccurs="0"/>
										<xs:element name="field914" type="field" minOccurs="0"/>
										<xs:element name="field915" type="field" minOccurs="0"/>
										<xs:element name="field916" type="field" minOccurs="0"/>
										<xs:element name="field917" type="field" minOccurs="0"/>
										<xs:element name="field918" type="field" minOccurs="0"/>
										<xs:element name="field919" type="field" minOccurs="0"/>
										<xs:element name="field920" type="field" minOccurs="0"/>
										<xs:element name="field921" type="field" minOccurs="0"/>
										<xs:element name="field922" type="field" minOccurs="0"/>
										<xs:element name="field923" type="field" minOccurs="0"/>
										<xs:element name="field924" type="field" minOccurs="0"/>
										<xs:element name="field925" type="field" minOccurs="0"/>
										<xs:element name="field926" type="field" minOccurs="0"/>
										<xs:element name="field927" type="field" minOccurs="0"/>
										<xs:element name="field928" type="field" minOccurs="0"/>
										<xs:element name="field929" type="field" minOccurs="0"/>
										<xs:element name="field930" type="field" minOccurs="0"/>
										<xs:element name="field931" type="field" minOccurs="0"/>
										<xs:element name="field932" type="field" minOccurs="0"/>
										<xs:element name="field933" type="field" minOccurs="0"/>
										<xs:element name="field934" type="field" minOccurs="0"/>
										<xs:element name="field935" type="field" minOccurs="0"/>
										<xs:element name="field936" type="field" minOccurs="0"/>
										<xs:element name="field937" type="field" minOccurs="0"/>
										<xs:element name="field938" type="field" minOccurs="0"/>
										<xs:element name="field939" type="field" minOccurs="0"/>
										<xs:element name="field940" type="field" minOccurs="0"/>
										<xs:element name="field941" type="field" minOccurs="0"/>
										<xs:element name="field942" type="field" minOccurs="0"/>
										<xs:element name="field943" type="field" minOccurs="0"/>
										<xs:element name="field944" type="field" minOccurs="0"/>
										<xs:element name="field945" type="field" minOccurs="0"/>
										<xs:element name="field946" type="field" minOccurs="0"/>
										<xs:element name="field947" type="field" minOccurs="0"/>
										<xs:element name="field948" type="field" minOccurs="0"/>
										<xs:element name="field949" type="field" minOccurs="0"/>
										<xs:element name="field950" type="field" minOccurs="0"/>
										<xs:element name="field951" type="field" minOccurs="0"/>
										<xs:element name="field952" type="field" minOccurs="0"/>
										<xs:element name="field953" type="field" minOccurs="0"/>
										<xs:element name="field954" type="field" minOccurs="0"/>
										<xs:element name="field955" type="field" minOccurs="0"/>
										<xs:element name="field956" type="field" minOccurs="0"/>
										<xs:element name="field957" type="field" minOccurs="0"/>
										<xs:element name="field958" type="field" minOccurs="0"/>
										<xs:element name="field959" type="field" minOccurs="0"/>
										<xs:element name="field960" type="field" minOccurs="0"/>
										<xs:element name="field961" type="field" minOccurs="0"/>
										<xs:element name="field962" type="field" minOccurs="0"/>
										<xs:element name="field963" type="field" minOccurs="0"/>
										<xs:element name="field964" type="field" minOccurs="0"/>
										<xs:element name="field965" type="field" minOccurs="0"/>
										<xs:element name="field966" type="field" minOccurs="0"/>
										<xs:element name="field967" type="field" minOccurs="0"/>
										<xs:element name="field968" type="field" minOccurs="0"/>
										<xs:element name="field969" type="field" minOccurs="0"/>
										<xs:element name="field970" type="field" minOccurs="0"/>
										<xs:element name="field971" type="field" minOccurs="0"/>
										<xs:element name="field972" type="field" minOccurs="0"/>
										<xs:element name="field973" type="field" minOccurs="0"/>
										<xs:element name="field974" type="field" minOccurs="0"/>
										<xs:element name="field975" type="field" minOccurs="0"/>
										<xs:element name="field976" type="field" minOccurs="0"/>
										<xs:element name="field977" type="field" minOccurs="0"/>
										<xs:element name="field978" type="field" minOccurs="0"/>
										<xs:element name="field979" type="field" minOccurs="0"/>
										<xs:element name="field980" type="field" minOccurs="0"/>
										<xs:element name="field981" type="field" minOccurs="0"/>
										<xs:element name="field982" type="field" minOccurs="0"/>
										<xs:element name="field983" type="field" minOccurs="0"/>
										<xs:element name="field984" type="field" minOccurs="0"/>
										<xs:element name="field985" type="field" minOccurs="0"/>
										<xs:element name="field986" type="field" minOccurs="0"/>
										<xs:element name="field987" type="field" minOccurs="0"/>
										<xs:element name="field988" type="field" minOccurs="0"/>
										<xs:element name="field989" type="field" minOccurs="0"/>
										<xs:element name="field990" type="field" minOccurs="0"/>
										<xs:element name="field991" type="field" minOccurs="0"/>
										<xs:element name="field992" type="field" minOccurs="0"/>
										<xs:element name="field993" type="field" minOccurs="0"/>
										<xs:element name="field994" type="field" minOccurs="0"/>
										<xs:element name="field995" type="field" minOccurs="0"/>
										<xs:element name="field996" type="field" minOccurs="0"/>
										<xs:element name="field997" type="field" minOccurs="0"/>
										<xs:element name="field998" type="field" minOccurs="0"/>
										<xs:element name="field999" type="field" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="root" type="xs:string" use="required"/>
									<xs:attribute name="block" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="separator" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="quote" type="xs:string" use="required"/>
						<xs:attribute name="firstrownames" type="xs:boolean" use="required"/>
						<xs:attribute name="removeempty" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="csv"/>
						<xs:enumeration value="flf"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="encoding" type="xs:int" use="required"/>
			<xs:attribute name="byteorder" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="byteordermark" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="inputinstance" type="xs:string"/>
			<xs:attribute name="outputinstance" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="valuemap">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="valuemapTable">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="from" type="xs:string" use="optional"/>
									<xs:attribute name="to" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="input">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string"/>
						<xs:attribute name="type" type="datatype"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="result">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string"/>
						<xs:attribute name="type" type="datatype"/>
						<xs:attribute name="defaultValue" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="enableDefaultValue" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="vertex">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="edges"/>
			</xs:sequence>
			<xs:attribute name="vertexkey" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="vertices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vertex" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="view">
		<xs:complexType>
			<xs:attribute name="ltx" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="lty" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rbx" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rby" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="wsdl">
		<xs:complexType/>
	</xs:element>
</xs:schema>
